@charset "UTF-8";

* {
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-image: linear-gradient(to right, #D7FAE8, #97C5C7);
}

main {
    background-color: white;
    border-radius: 10px;
    box-shadow: 5px 5px 15px #4b6263a4;
    width: 600px;
    padding: 10px;
    margin: auto;
}

h1 {
    color: #FB99A7;
    text-align: center;
    text-shadow: 1px 1px 2px #a34e5bbd;
}

h2 {
    color: #C77BAC;
}

p {
    text-align: justify;
}